<!-- --------------------------- Greeting ---------------------------- -->

<div class="text-center bg-secondary p-3 mb-5">
    {{#if logged_in}}
    <div class="m-3 text-center text-light fs-4">
       Whos Talkin?
    </div>
    {{/if}}
    {{#else}}
    <div class="m-3 text-center text-light fs-4">
        Welcome to TechBlogs! Login or Signup to create, edit, comment or delete.
    </div>
    {{/else}}

    

</div>

<!-- --------------------------- Body ---------------------------- -->
<div class="container">

    <!--Loop Through Each Object in Blogs Array and create a card-->
    {{#each blogs as |blog|}}

    <div class="row mt-4">

        <!--Blog Collapse Button With Title and Date-->
        <button class="btn btn-warning mb-1" type="button" data-js-blogid = {{blog.id}} data-bs-toggle="collapse" data-bs-target="#ids{{blog.id}}" aria-expanded="false" aria-controls="collapse">
            <span class="fw-bold">{{blog.title}}</span>
            <br>
            <span class="fst-italic">{{{format_date blog.date_created}}}</span>
        </button>

        <!--Blog Card Under Button with Username, content and comments-->
        <div class="collapse mt-1" id="ids{{blog.id}}"> 
            <div class="card text-center px-0 py-0 shadow p-3 mb-3 bg-body rounded">
                <div class="card-header bg-light">
                    <span>{{blog.user.user_name}}</span>
                </div>
                <div class="card-body pe-0">
                    <p class="card-text">{{blog.content}}</p>
                    <h6 class="card-title">Comments</h6>
                    <div>
                        {{#each blog.comments as |comment|}}       
                        <div class="fw-ligher fst-italic">{{comment.comment}} - <span class = "text-warning fw-bold">USER {{comment.user_id}}</span> | <span>{{format_date comment.date_created}}</span></div>
                        {{/each}}
                        
                    </div>
                </div>
            </div>

            <!--Buttons Container For Comment, Edit, Delete-->
            
            <div class="text-center buttons-container" data-blogid = {{blog.id}} data-userid = {{blog.user_id}}>
               <!--Comment Button-->
                <button type="button" class=" comment-blog btn btn-info mb-3 shadow-sm" data-bs-toggle="modal" data-bs-target="#commentModal{{blog.id}}">
                    <i class="far fa-comment"></i>
                </button>

                    <!--Modal to Render Upon Comment-->
                    <div class="modal fade mt-5" id="commentModal{{blog.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">

                            <!--Modal Content-->
                            <div class="modal-content" data-currentuser-id={{user_id}} data-blog-id={{blog.id}}>
                                <form class="p-2">
                                    <div class="mb-3">
                                        <label for="contentinput" class="form-label fw-bolder">Comment</label>
                                        <textarea class="form-control new-comment" placeholder="Enter Comment..."rows="3"></textarea>
                                    </div>
                                </form>

                                <!--Modal Footer With Buttons-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-info post-comment">Comment</button>
                                </div>

                            </div>

                        </div>

                    </div>
            </div>
            
        </div>
    </div>

    {{/each}}

</div>

<!-- --------------------------- Scripts ---------------------------- -->
<script src="/js/homelogic.js"></script>
        

            